Repository pubnub/objective-c, changes with the owners that .github/CODEOWNERS names for each.
All owners: @parfeon, @CraigLn, @crimsonred, @techwritermat

.github/CODEOWNERS:

*         @parfeon @CraigLn
.github/* @parfeon
README.md @crimsonred @techwritermat
.pubnub.yml @crimsonred @techwritermat

refactor(test): use custom Cucumberish version
  Tests/Podfile
  Tests/PubNub Tests.xcodeproj/xcshareddata/xcschemes/[iOS] Contract Tests Beta.xcscheme
  Tests/Tests/Contract/Steps/Subscribe/PNSubscribeContractTestSteps.m
  Tests/Tests/Helpers/PNContractTestCase.m
Owners: @parfeon, @CraigLn

test(contract): fix matching for push scenario
  Tests/Tests/Contract/Steps/Push/PNPushContractTestSteps.m
Owners: @parfeon, @CraigLn

build(github): add CocoaPods to cache
  .github/workflows/acceptance-tests.yml
  .gitignore
  Example/PubNub/Images.xcassets/AppIcon.appiconset/Contents.json
  Tests/Podfile.lock
Owners: @parfeon, @CraigLn

Add acceptance tests (#430)
  .github/workflows/acceptance-tests.yml
  .gitignore
  Example/PubNub/Images.xcassets/AppIcon.appiconset/Contents.json
  Tests/Podfile
  Tests/Podfile.lock
  Tests/PubNub Tests.xcodeproj/project.pbxproj
  Tests/PubNub Tests.xcodeproj/xcshareddata/xcschemes/[iOS] Contract Tests Beta.xcscheme
  Tests/PubNub Tests.xcodeproj/xcshareddata/xcschemes/[iOS] Contract Tests.xcscheme
  Tests/Support Files/Scripts/tests-runner.sh
  Tests/Support Files/Targets/ios-contract-tests.plist
  Tests/Tests/Contract/PNContractCucumberTest.m
  Tests/Tests/Contract/Steps/Access/PNAccessContractTestSteps.h
  Tests/Tests/Contract/Steps/Access/PNAccessContractTestSteps.m
  Tests/Tests/Contract/Steps/Files/PNFilesContractTestSteps.h
  Tests/Tests/Contract/Steps/Files/PNFilesContractTestSteps.m
  Tests/Tests/Contract/Steps/History/PNHistoryContractTestSteps.h
  Tests/Tests/Contract/Steps/History/PNHistoryContractTestSteps.m
  Tests/Tests/Contract/Steps/Message Actions/PNMessageActionsContractTestSteps.h
  Tests/Tests/Contract/Steps/Message Actions/PNMessageActionsContractTestSteps.m
  Tests/Tests/Contract/Steps/Publish/PNPublishContractTestSteps.h
  Tests/Tests/Contract/Steps/Publish/PNPublishContractTestSteps.m
  Tests/Tests/Contract/Steps/Push/PNPushContractTestSteps.h
  Tests/Tests/Contract/Steps/Push/PNPushContractTestSteps.m
  Tests/Tests/Contract/Steps/Subscribe/PNSubscribeContractTestSteps.h
  Tests/Tests/Contract/Steps/Subscribe/PNSubscribeContractTestSteps.m
  Tests/Tests/Contract/Steps/Utilities/PNTimeContractTestSteps.h
  Tests/Tests/Contract/Steps/Utilities/PNTimeContractTestSteps.m
  Tests/Tests/Helpers/PNContractTestCase.h
  Tests/Tests/Helpers/PNContractTestCase.m
  Tests/Tests/Integration/Files/PNFilesIntegrationTests.m
Owners: @parfeon, @CraigLn

test(acceptance): add 403 auto-retry test
  PubNub/Data/Managers/PNSubscriber.m
  Tests/Tests/Contract/Steps/Subscribe/PNSubscribeContractTestSteps.m
  Tests/Tests/Helpers/PNContractTestCase.h
  Tests/Tests/Helpers/PNContractTestCase.m
Owners: @parfeon, @CraigLn

test: fix integration tests
  Tests/Tests/Integration/PNSubscribeIntegrationTest.m
Owners: @parfeon, @CraigLn

refactor(uuid): mandatory UUID
  PubNub/Data/PNConfiguration.h
  PubNub/Data/PNConfiguration.m
  PubNub/Misc/Helpers/Notifications Payload/PNNotificationsPayload.h
  Tests/PubNub Tests.xcodeproj/project.pbxproj
  Tests/Tests/Helpers/PNRecordableTestCase.m
  Tests/Tests/Unit/Core/Actions/Messages/PNMessageActionsTest.m
  Tests/Tests/Unit/Data/PNConfigurationTest.m
Owners: @parfeon, @CraigLn

test: fix acceptance test
  Tests/Tests/Helpers/PNContractTestCase.m
Owners: @parfeon, @CraigLn

PubNub SDK v5.0.0 release.
  .pubnub.yml
  CHANGELOG.md
  Framework/PubNub/Info.plist
  Framework/PubNub/PubNub-iOS-Info.plist
  Framework/PubNub/PubNub-tvOS-Info.plist
  Framework/PubNub/PubNub-watchOS-Info.plist
  PubNub.podspec
  PubNub/Misc/PNConstants.h
  README.md
  VERSION
Owners: @crimsonred, @techwritermat, @parfeon, @CraigLn

refactor(uuid): mandatory UUID (#433)
  .pubnub.yml
  CHANGELOG.md
  Framework/PubNub/Info.plist
  Framework/PubNub/PubNub-iOS-Info.plist
  Framework/PubNub/PubNub-tvOS-Info.plist
  Framework/PubNub/PubNub-watchOS-Info.plist
  PubNub.podspec
  PubNub/Data/PNConfiguration.h
  PubNub/Data/PNConfiguration.m
  PubNub/Misc/Helpers/Notifications Payload/PNNotificationsPayload.h
  PubNub/Misc/PNConstants.h
  README.md
  Tests/PubNub Tests.xcodeproj/project.pbxproj
  Tests/Tests/Helpers/PNContractTestCase.m
  Tests/Tests/Helpers/PNRecordableTestCase.m
  Tests/Tests/Unit/Core/Actions/Messages/PNMessageActionsTest.m
  Tests/Tests/Unit/Data/PNConfigurationTest.m
  VERSION
Owners: @crimsonred, @techwritermat, @parfeon, @CraigLn

feat(spm): initial SPM support test
  Framework/PubNub Framework.xcodeproj/project.pbxproj
  Framework/scripts/export_for_spm.sh
  Package.swift
  PubNub/PubNub.h
  PubNub/include/PubNub.h
  Sources/PubNub
Owners: @parfeon, @CraigLn

PubNub SDK v5.1.0 release.
  .pubnub.yml
  CHANGELOG.md
  Framework/PubNub/Info.plist
  Framework/PubNub/PubNub-iOS-Info.plist
  Framework/PubNub/PubNub-tvOS-Info.plist
  Framework/PubNub/PubNub-watchOS-Info.plist
  PubNub.podspec
  PubNub/Misc/PNConstants.h
  README.md
  VERSION
Owners: @crimsonred, @techwritermat, @parfeon, @CraigLn

remove MPNS from pubnub.yml
  .pubnub.yml
Owners: @crimsonred, @techwritermat

Update README.md
  README.md
Owners: @crimsonred, @techwritermat

remove MPNS from pubnub.yml (#435)
  .pubnub.yml
  README.md
Owners: @crimsonred, @techwritermat

feat: introduce `userId` as `uuid` replacement
  PubNub/Core/PubNub+Core.h
  PubNub/Core/PubNub+Core.m
  PubNub/Core/PubNub+Objects.m
  PubNub/Core/PubNub+PAM.m
  PubNub/Core/PubNub+State.h
  PubNub/Core/PubNub+State.m
  PubNub/Data/Managers/PNSubscriber.m
  PubNub/Data/PNConfiguration.h
  PubNub/Data/PNConfiguration.m
  PubNub/Data/Service Objects/PNResult+Private.h
  PubNub/Data/Service Objects/PNResult.h
  PubNub/Data/Service Objects/PNResult.m
  PubNub/Misc/PNPrivateStructures.h
  Tests/Podfile.lock
  Tests/Tests/Helpers/PNRecordableTestCase.m
  Tests/Tests/Integration/Actions/PNMessageActionsIntegrationTest.m
  Tests/Tests/Integration/Files/PNFilesIntegrationTests.m
  Tests/Tests/Integration/PNPresenceIntegrationTest.m
  Tests/Tests/Integration/PNPresenceStateIntegrationTest.m
  Tests/Tests/Integration/PNPublishIntegrationTests.m
  Tests/Tests/Integration/PNSubscribeIntegrationTest.m
  Tests/Tests/Unit/Core/Objects/PNMembershipObjectsTest.m
  Tests/Tests/Unit/Core/Objects/PNUUIDMetadataObjectsTest.m
  Tests/Tests/Unit/Data/PNConfigurationTest.m
Owners: @parfeon, @CraigLn

fix: fix memory leak with file upload
  Example/PubNub/PNAppDelegate.m
  PubNub/Core/PubNub+Core.m
  PubNub/Data/Managers/PNFilesManager.h
  PubNub/Data/Managers/PNFilesManager.m
  Tests/Podfile.lock
Owners: @parfeon, @CraigLn

PubNub SDK v5.1.1 release.
  .pubnub.yml
  CHANGELOG.md
  Framework/PubNub/Info.plist
  Framework/PubNub/PubNub-iOS-Info.plist
  Framework/PubNub/PubNub-tvOS-Info.plist
  Framework/PubNub/PubNub-watchOS-Info.plist
  PubNub.podspec
  PubNub/Misc/PNConstants.h
  README.md
  VERSION
Owners: @crimsonred, @techwritermat, @parfeon, @CraigLn
